@import './templates/content-and-sidebar.scss';
@import './templates/tabs.scss';

body {
  background-color: black;

  .mainDiv {
    display: flex;
    align-items: center;
    flex-direction: column;

    background-color: darkslategray;
    width: 1100px;
    min-height: 600px;
    margin: auto;


    .logoDiv {
      width: 75px;
      height: 75px;
      margin: 40px 0 5px 0;
    }

    .mainTitle {
      font-size: x-large;
      margin: 25px 0 25px 0;
    }

    .animationDiv {
      width: 50%;
      min-height: 400px;
      background-color: gray;
      display: flex;
      justify-content: center;
      align-items: center
    }

    @include tabFeature();
  }
}
